.topbarContainer{
    font-size: var(--font-basic-text);
    width: 100%;
    height: var(--height-topbar);
    padding: 5px 20px;
    /* border: 1px solid tomato; */
    background-color: var(--bg-color-primary);
    display: flex;
    align-items: center;
    justify-content: flex-start;

    /* -webkit-box-shadow: 0px 3px 15px -5px rgba(0,0,0,0.86); 
    box-shadow: 0px 3px 15px -5px rgba(0,0,0,0.86); */
    box-shadow: 0 2px 4px rgb(47 49 54 / 10%);

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.topbarLeft{
    font-size: inherit;
    flex: 1;

    display: flex;
    align-items: center;
}
.logo{
    cursor: pointer;

    margin-right: 20px;
}
.logo_link{
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--color-primary);

    text-decoration: none;
}

.searchBar {
    font-size: inherit;
    width: 100%;
    display: flex;
    align-items: center;

    background-color: var(--bg-color-input);
    border-radius: 20px;
}
.searchIcon{
    width: 2.6rem !important;
    height: 2.6rem !important;
    cursor: pointer;

    margin-left: 10px;
    color: rgb(158, 150, 150);

    justify-self: flex-start;
}
.searchInput{
    
    font-size: var(--font-basic-text);
    border: none;
    flex-grow: 1; /* để chiếm hết chiều rộng của thẻ cha */
    outline: none;

    padding: 10px 5px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;

    background-color: var(--bg-color-input);
}
.searchInput:focus .searchIcon{
    display: none;
}




.topbarCenter{
    
    flex: 1;
    font-size: var(--font-basic-text);

    display: flex;
    align-items: center;
    justify-content: center;
}
.topbarLink{
    display: flex;
    align-items: center;

    font-size: inherit;
}
.topbarLink__item{
    font-size: inherit;
    padding: 10px;

    text-decoration: none;
    

    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--height-topbar);
    width: 80px;
    border-radius: 5px;
    margin: auto 2px;

    transition: all .5s ease;
}
.topbarLink__active{
    border-bottom: 3px solid #ffffff;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.topbarLink__item:hover{
    height: 44px;
    background-color: rgb(218, 206, 206) ;
}
.topbarLink__active:hover{
    height: var(--height-topbar);
    background-color: var(--bg-color-primary) transparent;
}


.topbarCenter__item{
    width: 3.8rem !important;
    height: 3.8rem !important;
    color: var(--color-primary);

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}


.topbarRight{
    flex: 1;
    font-size: var(--font-basic-text);

    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.topbarIcon{
    font-size: inherit;
    display: flex;
    align-items: center;
    justify-content: center;

}
.topbarIconItem{
    position: relative;  
    width: 35px;
    height: 35px;
    background-color: #e0e2e7;
    border-radius: 50%;
    
    padding: 8px 8px;
    margin: auto 8px;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}
.topbarIconItem:hover{
    background-color: #ffffff;
}
.topbarIcon__item{
    font-size: 2.4rem !important;
    /* color: black;      */
    color:rgb(69, 71, 80);
}

.topbarIcon__text{

    background-color: #fc3628;
    font-size: 1.2rem;
    width: 18px;
    height: 18px;
    border: none;
    border-radius: 50%;
    color: var(--color-primary);

    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    top:-3px;
    right: -3px;
}

.topbarAvatar{
    font-size: inherit;

    display: flex;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
}   
.topbarAvantar__img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    /* border: 2px solid rgb(212, 117, 0); */
    border: 0px solid rgb(255, 255, 255);
    border-radius: 50%;
    margin-left: 50px;

    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
}

.topbarAccount{
    font-size: inherit;
    margin-left: 5px;
    margin-right: 3px;
    color: var(--color-primary);

    display: flex;
    align-items: center;
}